@import "../assets/style/global.css";
@import "../assets/style/global.responsive.css";

/* Next.js specific tweaks if needed */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
